body{
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
  margin: 0.5rem 0;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1rem;
}

.heading{
  margin-left: 38rem;
  text-transform: uppercase;
}

.product-heading{
  margin-left: 50%;
  font-size: 20px;
}

.cart-heading{
  margin-left: 40%;
  font-size: 20px;
}

a {
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
}

.col-1{
  flex: 1;
}

.col-2{
  flex: 2;
}
.block{
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.raw.center{
  align-items: center;
}

img.small{
  max-height: 15rem;
}

.btn{
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  border: 0.1rem;
  background-color: #e47027;
  width: 100%;
  cursor: pointer;
}

button.add{
  background-color: blue;
  width: 1.5rem;
}

button.remove{
  background-color: #bc0c0c;
  width: 1.5rem;
}

button.badge{
  background-color: #bc0c0c;
  border: none;
  color: #e0e0e0;
  width: 1.5rem;
}

.text-right{
  text-align: right;
}

.price{
  margin-left: 30%;
}

.pro-name{
  margin-left: 30%;
}


































































